.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}

.aapHeader {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 2px #00000033;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 5%, rgba(83, 186, 143, 0.5243347338935574) 77%, rgba(70, 252, 100, 0.4599964985994398) 93%);


}

.shopingCartIcon {
    font-size: 30px;
    margin-right: 16px;
    cursor: pointer;
    cursor: pointer;
}

.PageContent {
    display: flex;
    flex: 1;
    overflow-y: auto;
    margin-top: 2px;

}

.aapFooter {
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.itemCardImg {
    height: 150px !important;
    object-fit: scale-down;
}


.itemCard,
.itemCardBadge {
    margin: 8px;
}


.example {
    position:fixed;
    top: 80px;
    left: 550px;

  }